{%- from "moj/components/domain-specific/probation/header/macro.njk" import pdsHeader -%}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ pdsHeader({
  environmentName: environmentName,
  environmentNameColour: environmentNameColour,
  name: user.displayName | initialiseName,
  manageDetailsLink: '/account-details',
  servicesLink: '/',
  services: [
    {
      heading: applicationName,
      href: '/',
      target: '_blank'
    }
  ],
  titleLink: '/'
}) }}


{{ govukServiceNavigation({
  navigation: [
    {
      href: "/",
      text: applicationName
    }
  ]
}) }}
