{% extends "govuk/template.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{%- from "moj/components/domain-specific/probation/footer/macro.njk" import pdsFooter -%}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% set emailHtml %}
  This is a new service. To get help or report a bug, email <a href=mailto:"{{ supportEmailAddress }}">{{ supportEmailAddress }}</a>.
{% endset %}

{% block header %}
  {% include "./header.njk" %}
    {{ govukPhaseBanner({
    tag: {
      text: "Private beta"
    },
      html: emailHtml
  }) }}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {{ pdsFooter({
    baseUrl: 'https://probation-frontend-components-dev.hmpps.service.justice.gov.uk'
  }) }}
  {% if footerLinks %}
    {% for link in footerLinks %}
      <a href="{{link.href}}">{{link.text}}</a>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}
