# Credentials and variables needed for e2e tests

DELIUS_USERNAME=${DELIUS_USERNAME}
DELIUS_PASSWORD=${DELIUS_PASSWORD}
SUPERVISOR_USERNAME=${SUPERVISOR_USERNAME}
SUPERVISOR_PASSWORD=${SUPERVISOR_PASSWORD}

DELIUS_URL=https://ndelius.test.probation.service.justice.gov.uk

# Feature flags
CLEAR_SESSION_STATUSES_ENABLED=

SUPPORT_EMAIL_ADDRESS=example@example.com
