{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - View person details" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backPath
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      CRN: {{ offender.crn }}
    </span>
    <h1 class="govuk-heading-l">
      {{ offender.name }}
    </h1>

    {{ govukButton({
        text: 'Arrived',
        href: actions.arrivedPath,
        classes: "govuk-button--secondary govuk-!-width-full"
    }) }}

    {{ govukButton({
        text: 'Not arrived',
        href: actions.absentPath,
        classes: "govuk-button--secondary govuk-!-width-full"
    }) }}

    {{
      govukSummaryList({
        card: {
          title: {
            text: "Person details"
          }
        },
        rows: [
          {
            key: {
              text: "Session status"
            },
            value: {
              html: '<strong id="status-tag" class="govuk-tag govuk-tag--grey">Scheduled</strong>'
            }
          },
          {
            key: {
              text: "Start time"
            },
            value: {
              text: startTime
            }
          },
          {
            key: {
              text: "Finish time"
            },
            value: {
              text: endTime
            }
          }
        ]
      })
    }}
  </div>
</div>

{% endblock %}
