{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Why did the person leave early?' %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
      text: title,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}
    {{ govukRadios({
      name: "leftEarly",
      hint: {
        text: "Select one option"
      },
      items: items,
      errorMessage: errors.leftEarly
    }) }}

    {{ govukCharacterCount({
      name: "notes",
      value: notes,
      maxlength: 4000,
      threshold: 85,
      formGroup: {
        classes: "govuk-!-margin-bottom-0"
      },
      label: {
        text: "Add notes",
        classes: "govuk-label--m"
      },
      errorMessage: errors.notes
    }) }}

    {{ govukCheckboxes({
      name: "isSensitive",
      items: [
        {
          value: "isSensitive",
          text: "This information is not to be shared with the person on probation",
          checked: isSensitive
        }
      ]
    }) }}
  {% endcall %}
{% endblock %}
