{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends "./layout.njk" %}

{% set pageTitle = 'Why did the person leave early?' %}

{% block formContent %}

  {% call govukFieldset({
    legend: {
      text: title,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}
    {{ govukRadios({
      name: "leftEarlyReason",
      hint: {
        text: "Select one option"
      },
      items: items,
      errorMessage: errors.leftEarlyReason
    }) }}
  {% endcall %}
{% endblock %}
