{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% extends "./layout.njk" %}

{% block formContent %}

<h1 class="govuk-heading-l">
  Check your answers
</h1>

{% from template import form with context %}

<div class="govuk-!-display-none">
  {{ form() }}
</div>

{{ govukTable({
  firstCellIsHeader: true,
  rows: rows
}) }}

{% if showWillAlertPractitionerMessage %}
  {{ mojAlert({
    variant: 'information',
    title: 'This outcome will result in alert',
    dismissible: false,
    html: 'This outcome will be shared with the practitioner as it requires enforcement action.'
  }) }}
{% endif %}

{% if alertPractitionerItems | length %}
  {{ govukRadios({
    name: "alertPractitioner",
    fieldset: {
      legend: {
        text: "Would you like to share this outcome with the probation practitioner?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Select yes to send an alert"
    },
    items: alertPractitionerItems
  }) }}
{% endif %}

{% endblock %}
