{% from "govuk/components/input/macro.njk" import govukInput %}
{% extends "./layout.njk" %}

{% set pageTitle = 'Log start time' %}

{% block formContent %}
  {{ govukInput({
    label: {
      text: title,
      classes: "govuk-label--l",
      isPageHeading: true
    },
    id: "start-time",
    name: "time",
    type: "time",
    value: startTime
  }) }}
{% endblock %}
