{% from "govuk/components/input/macro.njk" import govukInput %}
{% extends "./layout.njk" %}

{% set pageTitle = documentTitle %}

{% block formContent %}
  <input type="hidden" name="deliusVersion" value="{{ deliusVersion }}"/>

  {{ govukInput({
    label: {
      text: question,
      classes: "govuk-label--l",
      isPageHeading: true
    },
    id: "time",
    name: "time",
    type: "time",
    value: time,
    errorMessage: errors.time
  }) }}
{% endblock %}
