{% extends "./layout.njk" %}

{% block confirmBody %}
  <div class="govuk-!-margin-top-7">
    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      {{ offender.name }}'s probation practioner will be informed about this absence.
    </p>
  </div
{% endblock %}